fastapi
uvicorn[standard]
motor
pymongo
pydantic
python-dotenv
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
librosa
soundfile
numpy<2.0
tensorflow==2.15.0
torch
torchaudio
torchvision
google-generativeai
google-auth
faster-whisper
h5py